<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ParkCharge</display-name>
	<welcome-file-list>
		<welcome-file>mobile.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:com/parkcharge/spring/applicationContext-*.xml,
			classpath*:com/parkcharge/*/aop/*-AOP.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>InitProjectInfo</servlet-name>
		<servlet-class>com.parkcharge.base.action.InitProjectInfo</servlet-class>
		<init-param>
			<param-name>version</param-name>
			<param-value>1.2.0</param-value>
		</init-param>
		<init-param>
			<param-name>projectName</param-name>
			<param-value>停车收费管理系统</param-value>
		</init-param>
		<init-param>
			<param-name>teamName</param-name>
			<param-value>Junjie Software All Right Reserved</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitProjectInfo</servlet-name>
		<url-pattern>/InitProjectInfo/*</url-pattern>
	</servlet-mapping>
</web-app>